@media only screen and (max-width: 767px){
	.nawbar,
    .blogs,
    .tags {
        width: 95%;
		display:black;
    }

	 .tags {
        width: 95%;
        margin: auto;
        padding: 10px 0;
        overflow: hidden;
    }
    

    .tags span {
        float: left;
        margin: 6px 8px;
        padding: 8px 16px;
        font-size: 12px;
        text-align: center;
    }
	
    .header-logo {
        width: 100%;
        float: left;
        text-align: center;
    }

    .header-logo img {
        float: none;
        margin: 0 auto;
    }

    .nawbar h1 {
        float: none;
        text-align: center;
        margin: 10px 0;
    }

    .header-text p {
        width: 95%;
        float: left;
        text-align: left;
    }

    .search input {
        width: 95%;
    }

    .tags span {
        margin-bottom: 10px;
        white-space: nowrap;
    }

    .card {
        width: 100%;
        margin: 15px 0;
        float: left;
	}
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
	.nawbar,
    .blogs {
        width: 90%;
        margin: auto;
    }
	
	.header-logo {
		width: 80%;
		float: left;
	}

    .tags {
        width: 85%;
        margin: auto;
        overflow: hidden; 
    }

    .tags span {
        float: left;
        margin: 6px 10px;
        padding: 8px 18px;
        font-size: 13px;
    }

    .search input {
        width: 80%;
    }

    .card {
        width: 46%;
        margin: 15px 2%;
        float: left;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1440px){
	.nawbar,
    .blogs {
        width: 85%;
        margin: auto;
    }

    .tags {
        width: 70%;
        margin: auto;
        overflow: hidden;
    }

    .tags span {
        float: left;
        margin: 6px 12px;
        padding: 8px 20px;
        font-size: 13px;
    }

    .search input {
        width: 65%;
    }

    .card {
        width: 30%;
        margin: 15px;
        float: left;
    }
}

@media only screen and (min-width: 1441px) and (max-width: 1840px){
	.nawbar, .blogs {
        width: 80%;
        margin: auto;
    }

    .tags {
        width: 60%;
        margin: auto;
        overflow: hidden;  
    }

    .tags span {
        float: left;
        margin: 8px;
        padding: 10px 20px;
        font-size: 14px;
    }

    .search input {
        width: 60%;
    }

  
    .card {
        width: 28%;
        margin: 20px;
        float: left;
    }
}